@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-500);
  width: 150px;
  display: flex;
  padding: 0.5rem 1rem;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  background-color: #2c3e50;
}
.input {
  color: var(--dl-color-gray-700);
  width: 80%;
  cursor: auto;
  height: auto;
  opacity: 0.6;
  padding: 0.5rem 1rem;
  align-self: center;
  margin-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: 30px;
  margin-bottom: 10px;
  background-color: #2c3e50;
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.search-bar {
  width: 55%;
  height: var(--dl-size-size-small);
  opacity: 0.6;
  padding: Space-HalfUnit;
  z-index: 100;
  font-size: 18px;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  line-height: 1.5;
  border-color: var(--dl-color-gray-black);
  border-radius: 30px;
  background-color: transparent;
}
.search-bar:hover {
  height: 60px;
  opacity: 1;
}
.account {
  width: 30px;
  height: 40px;
  display: flex;
  opacity: 0.6;
  z-index: 100;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  padding-top: 0px;
  border-width: 0px;
  margin-right: 10px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: transparent;
}
.account:hover {
  width: 32px;
  height: 42px;
  opacity: 1;
  margin-left: 8px;
}
.up {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.playlist {
  margin-top: 30px;
  margin-bottom: 30px;
}
.posibili {
  width: 50px;
  height: 40px;
  display: flex;
  opacity: 0.3;
  padding: 4px;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  border-color:  rgba(19,19,19,1);
  border-width: 0px;
  margin-right: 10px;
  border-radius: 45px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-500);
}
.posibili:hover {
  opacity: 0.6;
  padding: 4px;
  align-self: center;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  justify-content: center;
}
.content {
  flex: 0 0 auto;
  width: auto;
  height: 651px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar {
  color: var(--dl-color-gray-700);
  width: 70px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: mixed;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 0px;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}
.navbar:active {
  opacity: 1;
  align-items: center;
  border-width: 0px;
  border-radius: 0px;
  justify-content: center;
  background-color: transparent;
}
.navbar:hover {
  color: var(--dl-color-gray-500);
  width: 70px;
  height: 30px;
  opacity: 1;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-700);
  border-width: 4px;
  margin-right: 30px;
  border-radius: 0px;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}


.hover{
    fill: var(--dl-color-gray-700);
    width: 70px;
    height: 30px;
    opacity: 1;
    align-items: center;
    margin-left: 0px;
    border-color: #2c3e50;
    border-width: 4px;
    margin-right: 20px;
    border-radius: 0px;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.on1{
  display: block;
}

.off1{
  display: none;
}

.music-bar {
  width: 100%;
  height: 60px;
  display: flex;
  opacity: 0.3;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 20px;
  padding-top: 0px;
  margin-right: 20px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #1e2b38;
}
.music-bar:hover {
  opacity: 1;
}
.text {
  color: var(--dl-color-gray-500);
  width: 85vh;
  height: 40px;
  opacity: 0.6;
  font-size: 30px;
  align-self: flex-start;
  text-align: left;
  transition: 0.3s;
  margin-left: 40px;
  margin-right: 5px;
}
.text:hover {
  opacity: 1;
  margin-left: 45px;
  margin-right: 0px;
}
.minutes {
  width: 70px;
  font-size: 17px;
}
.music {
  flex-wrap: wrap;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.music:hover {
  align-items: center;
  margin-left: 10px;
  border-width: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 4px;
}
.music1 {
  flex-wrap: wrap;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.music1:hover {
  align-items: center;
  margin-left: 10px;
  border-width: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 4px;
  border-right-width: 0px;
}
.music-card {
  width: 100%;
  height: auto;
  display: flex;
  opacity: 0.6;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: space-between;
}
.card-music {
  float: left;
  width: 200px;
  height: 250px;
  display: flex;
  opacity: 0.3;
  padding: var(--dl-space-space-unit);
  z-index: 100;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  margin-right: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-500);
}
.card-music:hover {
  opacity: 0.6;
  transform: scale(1.02);
}

.card-music-video{
  opacity: 0.6;
  transform: scale(1.02);
}
.text-card {
  top: 166px;
  left: 16px;
  width: 168px;
  height: 50px;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #263442;
}
.card-play {
  top: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: absolute;
  box-shadow: 5px 5px 10px 2px #d4d4d4,-5px -5px 10px 2px #d4d4d4;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: #263442;
}
.card-play:hover {
  top: 25px;
  left: 28px;
  width: 45px;
  height: 45px;
  opacity: 1;
}
.music-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: flex-start;
}
.music-line {
  width: 100%;
  height: 70px;
  display: flex;
  opacity: 0.3;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  padding-top: 15px;
  margin-right: 0px;
  padding-left: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: 15px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-500);
}
.music-line:hover {
  opacity: 0.6;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.favorite {
  top: 20px;
  color: var(--dl-color-gray-700);
  right: 180px;
  width: 30px;
  height: 30px;
  display: flex;
  opacity: 0.3;
  padding: 0px;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: 30px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.bar {
  width: 100%;
  height: 81px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: center;
}
.filtre-card {
  width: 150px;
  height: 200px;
  opacity: 0.3;
  transition: 0.3s;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  margin-bottom: 40px;
  background-color: transparent;
}
.filtre-card:hover {
  opacity: 0.6;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.cicle {
  top: 0px;
  flex: 0 0 auto;
  left: Space-HalfUnit;
  width: 300px;
  height: 300px;
  display: flex;
  opacity: 0.3;
  position: absolute;
  box-shadow: 50px 50px 10px 10px #232f3a,-50px -50px 10px 10px #232f3a;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #232F3A;
}
.text-form {
  color: var(--dl-color-gray-500);
  width: 400px;
  height: auto;
  font-size: 18px;
  align-self: center;
  text-align: left;
}
.video {
  width: 75%;
  height: auto;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.artist {
  width: 100%;
  height: 100px;
  display: flex;
  opacity: 0.3;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  padding-top: 15px;
  flex-direction: row;
  padding-bottom: 15px;
  justify-content: flex-start;
}

.buttonChange {
  transition: 0.3s;
}
.buttonChange:hover {
  width: 50px;
  height: 40px;
  margin-left: 10px;
  padding-top: 4px;
  margin-right: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .account {
    margin-left: 10px;
    margin-right: 10px;
  }
  .posibili {
    width: 210px;
    align-items: center;
    margin-left: 40px;
    padding-left: 4px;
    padding-right: 4px;
    flex-direction: row;
    justify-content: center;
  }
  .music-bar {
    width: 100%;
  }
  .text {
    width: 50vh;
  }
  .music-card {
    width: 100%;
    height: auto;
    display: flex;
    overflow-y: visible;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .card-music {
    width: 200px;
    max-width: auto;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .text-card {
    width: 168px;
  }
  .music-line {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .favorite {
    right: 120px;
  }
  .filtre-card {
    width: 125px;
    height: 175px;
    margin-right: 10px;
  }
  .cicle {
    opacity: 0.3;
    z-index: 100;
    background-color: #D9D9D9;
  }
  .video {
    justify-content: space-between;
  }
  .buttonChange {
    width: 50px;
    margin-left: 10px;
  }
}
@media(max-width: 991px) {
  .account {
    margin-left: 10px;
    margin-right: 10px;
  }
  .posibili {
    width: 250px;
    display: flex;
  }
  .music-bar {
    width: 100%;
  }
  .text {
    width: 60vh;
    font-size: 20px;
    max-width: 100%;
  }
  .music {
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
  }
  .music-card {
    width: 99%;
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-music {
    width: 180px;
    height: 230px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .text-card {
    top: 146px;
    width: 148px;
  }
  .music-line {
    height: 70px;
  }
  .favorite {
    top: 0px;
    right: 120px;
    width: 25px;
    bottom: 20px;
    height: 25px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .filtre-card {
    width: 85px;
    height: 135px;
  }
  .video {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .buttonChange {
    width: 50px;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media(max-width: 767px) {
  .account {
    margin-left: 7px;
    margin-right: 7px;
  }
  .posibili {
    width: 320px;
    padding-right: 10px;
  }
  .navbar {
    width: 50px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  .music-bar {
    height: 50px;
  }
  .text {
    width: 30vh;
    font-size: 20px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .music {
    width: 60px;
    align-items: center;
    margin-left: 10px;
    border-width: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .music-card {
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-music {
    width: 125px;
    height: 200px;
  }
  .text-card {
    top: 120px;
    width: 94px;
  }
  .music-line {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .favorite {
    top: 5px;
    right: 50px;
  }
  .filtre-card {
    width: 70px;
    height: 100px;
  }
  .buttonChange {
    width: 50px;
  }
}
@media(max-width: 479px) {
  .posibili {
    display: none;
  }
  .text {
    font-size: 17px;
  }
  .music {
    width: 70px;
    height: 20px;
    margin-right: 10px;
  }
  .music-card {
    height: 900px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .card-music {
    width: 125px;
    margin-right: 30px;
  }
  .text-card {
    top: 110px;
    width: 95px;
  }
  .music-list {
    width: auto;
    align-items: flex-start;
    padding-right: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .music-line {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .filtre-card {
    width: 80px;
    height: 70px;
  }
  .video {
    height: auto;
    justify-content: flex-end;
  }
  ::-webkit-scrollbar{
    width: 1.2em;
    overflow-x: none;
  }
  ::-webkit-scrollbar-track{
    background-color: #242942;
    margin-block: 0.25em;
    border-radius: 0.3em;
  }
  ::-webkit-scrollbar-thumb{
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #006cff, #0072ff);
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border-radius: 0.3em;
  }
  
}
.app {
  max-width: 300px;
  margin: 0 auto;
}

.app i {
  font-size: 80px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

article {
  position: relative;
  width: 300px;
  height: 70px;
  margin: 5px;
  float: left;
  border: 2px solid #50bcf2;
  box-sizing: border-box;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: .5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  opacity: 0;
  cursor: pointer;
}
input[type=radio]:checked ~ div {
  background-color: #50bcf2;
}
.upgrade-btn {
  display: block;
  margin: 30px auto;
  width: 200px;
  padding: 10px 20px;
  border: 2px solid #50bcf2;
  border-radius: 50px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
}

.upgrade-btn:hover {
  background-color: #50bcf2;
}

.blue-color {
  color: #50bcf2;
}

.gray-color {
  color: #555;
}

.social i:before {
  width: 14px;
  height: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin: 0%;
    width: 100%;
  }
}

input[type='radio'] {
  position: absolute;
  right: 100vw;
}
input[type='radio'] + label {
  --i: var(--check, 1);
  --j: calc(1 - var(--i));
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  opacity: 0.6;
  box-shadow: inset 0 0 0 4px #5ca8ff;
  color: var(--dl-color-gray-700);
  text-align: center;
  text-transform: capitalize;
  --rect: inset(calc(var(--i)*.5px));
  -webkit-clip-path: var(--rect);
  clip-path: var(--rect);
  mix-blend-mode: var(--check, screen);
  cursor: pointer;
  transition: 0.35s;
}
input[type='radio'] + label:before, input[type='radio'] + label:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: var(--i);
  background: #5ca8ff;
  transition: inherit;
  content: '';
}
input[type='radio'] + label:after {
  left: 17.5%;
  background: linear-gradient(90deg, #000 50%, transparent 0) calc(var(--j)*100%)/ 200%;
  --poly: polygon(0 30%, 35% 60%, 100% 0, 100% 25%, 35% 85%, 0 55%);
  -webkit-clip-path: var(--poly);
  clip-path: var(--poly);
}
input[type='radio']:not(:checked) + label {
  --i: 0;
}
